{% extends "base.html" %}


{% block title %}Datos personales{% endblock %}



{% block content %}


<div class="sec-shell">


 <h1 class="sec-title">🧍 Datos personales</h1>



 {% if perfil %}


  <div class="card">


   <h2 class="card-title">{{ perfil.nombres }} {{ perfil.apellidos }}</h2>



   {% if perfil.descripcionperfil %}<p>{{ perfil.descripcionperfil }}</p>{% endif %}



   <div class="kv">


    {% if perfil.nacionalidad %}<div><b>Nacionalidad:</b> {{ perfil.nacionalidad }}</div>{% endif %}


    {% if perfil.lugarnacimiento %}<div><b>Lugar nacimiento:</b> {{ perfil.lugarnacimiento }}</div>{% endif %}


    {% if perfil.fechanacimiento %}<div><b>Fecha nacimiento:</b> {{ perfil.fechanacimiento }}</div>{% endif %}


    {% if perfil.numerocedula %}<div><b>Cédula:</b> {{ perfil.numerocedula }}</div>{% endif %}


    {% if perfil.sexo %}<div><b>Sexo:</b> {{ perfil.sexo }}</div>{% endif %}


    {% if perfil.estadocivil %}<div><b>Estado civil:</b> {{ perfil.estadocivil }}</div>{% endif %}


    {% if perfil.licenciaconducir %}<div><b>Licencia:</b> {{ perfil.licenciaconducir }}</div>{% endif %}


    {% if perfil.telefonoconvencional %}<div><b>Tel. conv:</b> {{ perfil.telefonoconvencional }}</div>{% endif %}


    {% if perfil.telefonofijo %}<div><b>Tel. fijo:</b> {{ perfil.telefonofijo }}</div>{% endif %}


    {% if perfil.direcciontrabajo %}<div><b>Dir. trabajo:</b> {{ perfil.direcciontrabajo }}</div>{% endif %}


    {% if perfil.direcciondomiciliaria %}<div><b>Dir. domicilio:</b> {{ perfil.direcciondomiciliaria }}</div>{% endif %}


    {% if perfil.sitioweb %}<div><b>Sitio web:</b> {{ perfil.sitioweb }}</div>{% endif %}


   </div>


  </div>


 {% else %}


  <p>No hay perfil activo.</p>


 {% endif %}



  <a class="back-link" href="{% url 'home' %}">← Volver al inicio</a>



</div>


{% endblock %}